@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/ProximaNovaRegular.otf");
}

@font-face {
  font-family: "Avenir-Next";
  src: url("../fonts/AvenirNextBold.otf");
  font-weight: Bold;
}
@font-face {
  font-family: "Avenir-Next";
  src: url("../fonts/AvenirNextDemi.otf");
}

.about-us {
  margin-top: 15vh !important;
  width: 100%;
  position: relative;
}
.about-us h1 {
  font-size: 72px;
  font-weight: bold;
  font-family: Avenir-Next;
  text-align: center;
  color: #408cff;
  margin-top: 0;
  margin-bottom: 0;
}
.about-us-block {
  display: flex;
  margin: 5vh auto;
  justify-content: space-around;
  align-items: center;
}
.about-us-illust {
  font: 22px Proxima-Nova;
  color: #4e4e4e;
  width: 40%;
}
.about-us-para {
  font: 45px Proxima-Nova;
  color: #232323d6;
  width: 55%;
}

.about-us-imgs {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.about-us-imgs img {
  height: 170px;
  width: 170px;
}

.about-us-imgs div {
  text-align: center;
  align-items: center;
  color: #3957ed;
  font: 31px Proxima-Nova;
}

.our-team {
  width: 100%;
}
.our-team h1 {
  color: #0065ff;
  text-align: center;
  font: Bold 72px Avenir-Next;
}
.our-team-row {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  margin: 2vh auto;
  justify-content: center;
}
.team-member {
  height: 45vh;
  width: 20%;
  margin: 0 2vh;
}
.member-img {
  width: 25vh;
  height: 25vh;
  background-color: darkorange;
  border-radius: 50vh;
  margin: 2vw auto;
}
.team-member h3 {
  color: #4e4e4e;
  font: Bold 34px Proxima-Nova;
  text-align: center;
  margin: 1vh;
}
.team-member h4 {
  color: #4e4e4e;
  font: 34px Proxima-Nova;
  text-align: center;
  margin: 1vh;
} /* 
.edu-news h1 {
  font: Bold 72px Avenir-Next;
  text-align: center;
  color: #0065ff;
}
.edu-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto 15vh auto;
}
.edu-story2 h4 {
  font: Bold 32px Avenir-Next;
  color: #000000d6;
  margin-top: 7.5vh;
  margin-bottom: 0;
}
.edu-story2 {
  width: 28.5%;
  padding-left: 1.5%;
  box-shadow: 6px 6px 15px #00000033;
  border-radius: 34px;
}
.edu-story2:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.edu-story2 p {
  font: 22px Avenir-Next;
  color: #000000d6;
  width: 75%;
}

#edu-by2 {
  margin-top: 7.5vh;
}
.edu-story2 button {
  box-shadow: 6px 6px 20px #00000029;
  margin-left: 45%;
  height: 5vh;
  padding: 0;
  margin-bottom: 3.1vh;
  border-radius: 25px;
  width: 9vw;
  background-color: #fff;
  font: Bold 13px Avenir-Next;
  color: #000000d6;
}
 */
