.camp-page-container{
    
    width: 100%;
    height: 90vh;
    background: url(../images/svgs/camp-bg.svg);
    box-shadow: 6px 6px 25px #00000029;
    background-size: cover;

}
.camp-about{
    width: 80%;
    margin: auto;
}
.camp-headline{
    text-align: center;
    font: Bold 72px/93px Avenir-Next;
    color: #004E92;
}

.about-camp-insider{
    display: flex;
    justify-content: space-between;
}
.camp-about-written{
    width: 50%;
}
.camp-para{
    font:22px/26px Proxima-Nova;
  
    color: #000000;
}
.camp-about-illus{
    display: flex;
    justify-content: center;
    align-items: center;
    font:22px/26px Proxima-Nova;
   width: 50%;
    color: #000000;

}

.camp-responsibilities h1{
    font-size: 48px !important;
    margin-top: 5vh;
}

.camp-responsibilities{
    width: 54%;
    margin: auto;
}
.camp-list{
    list-style: none;
    font: Regular 22px/27px Proxima-Nova;

color: #000000;
opacity: 0.8;
}
.camp-list img{
    width: 27px;
height: 27px;
margin-right: 5px;

}

.camp-list li{
    font: 22px/27px Proxima-Nova;
line-height: 5px;
display: flex;
align-items: center;
color: #000000;
opacity: 0.8;
}
.camp-container{
    justify-content: space-around;
    width: 80%;
    margin: 2vh auto;
    display: flex;
   
}
.camp-page-container h2{
  color: white;
  font: Bold 72px/93px Avenir-Next;
  width: 50%;
  margin-left: 9% ;
  margin-top: 2vh;
}
.camp-page-container img{
    margin-left: 9%;
    margin-top: 12vh;
}

.camp-container img{
   margin-top: -37vh;
}
.camp-written p{
    color: #ffffff;
    font: 200 28px/34px Avenir-Next;
    width: 85%;
}
.camp-written button{
    background: transparent linear-gradient(99deg, #FFFFFF 0%, #EAEAEAD6 100%) 0% 0% no-repeat padding-box;
border-radius: 41px;
font: Bold 22px/14px Avenir-Next;
width: 384px;
height: 84px;
margin-top: 2vh;
color: #000000;
}



