.edu-for-sch-written h1{
    color: #004E92 !important;
}
.view-programs{
    background: linear-gradient(101deg, #00063D 0%, #004E92 100%) !important;
}
.headline{
    color: #004E92 !important;
}
.illus-tag{
    color: #004E92 !important;
}
.sub-div-a h1{
    color: #004E92;
    width: 100%;
}
.camp-container{
    justify-content: space-around;
    width: 80%;
    margin: 2vh auto;
    display: flex;
}
.camp-container-outer h2{
  color: white;
  font: Bold 72px/93px Avenir-Next;
  width: 60%;
  margin-left: 9% ;
  padding-top: 10vh;
}
.camp-container-outer{
    width: 100%;
   background: url(../images/svgs/camp-bg.svg);
   box-shadow: 6px 6px 25px #00000029;
   background-size: cover;
border-radius: 54px;
}
.camp-container img{
    margin-top: -30vh;
    margin-left: 10%;
}
.camp-written p{
    color: #ffffff;
    font: 200 28px/34px Avenir-Next;
    width: 85%;
}
.camp-written button{
    background: transparent linear-gradient(99deg, #FFFFFF 0%, #EAEAEAD6 100%) 0% 0% no-repeat padding-box;
border-radius: 41px;
font: Bold 22px/14px Avenir-Next;
width: 384px;
height: 84px;
margin-top: 2vh;
color: #000000;
}
