@media only screen and (max-width: 912px) and (min-width: 768px) {
  .intro-div h1 {
    font-size: 4.6vw;
  }
  .about-edu {
    width: 95%;
  }
  .about-edu h1 {
    font-size: 4.2vw;
  }
  .about-edu-written p {
    font-size: 1.4vw;
  }
  .about-edu-illust h4 {
    font-size: 2.2vw;
  }
  .our-mission {
    width: 95%;
  }
  .our-mission h1 {
    font-size: 4.2vw;
  }
  .our-mission-illust {
    font-size: 1.8vw;
  }
  .our-mission-para {
    font-size: 1.5vw;
    width: 50%;
  }
  .our-mission-imgs img {
    height: 11vw;
    width: 11vw;
  }
  .our-mission-imgs {
    width: 95%;
    justify-content: space-around;
  }
  .our-mission-imgs div {
    font-size: 2vw;
  }
  .student-get h1 {
    font-size: 5.2vw;
  }

  .student-get p {
    width: 80%;
    font-size: 1.6vw;
  }

  .student-get-block {
    width: 95%;
  }
  .student-get-content {
    width: 45%;
    text-align: center;
  }
  .student-get-content img {
    height: 16vh;
  }

  .student-get-content h4 {
    font-size: 2vw;
  }

  .student-get-content p {
    font-size: 1.8vw;
  }
  .rec_dvlpmnts {
    height: 60vh;
    margin: 10vw 0;
  }

  .rec_dvlpmnts h1 {
    font-size: 4.2vw;
  }

  .rd_contain {
    width: 80%;
    height: 45vw;
    margin: 5vw auto;
  }
  .rd_hdline {
    font-size: 3.2vw;
  }

  .rd_aftrtexthead {
    font-size: 2.5vw;
  }

  .rd_cbtn {
    height: 5vh;
    font-size: 1.4vw;
  }
  .rd_aftrtext p {
    font-size: 1.6vw;
  }

  .our-team h1 {
    font-size: 4.2vw;
    margin-top: 10vw;
  }
  .member-img {
    width: 15vw;
    height: 15vw;
  }
  .our-team-row {
    width: 95%;
  }
  .team-member {
    height: 28vw;
  }
  .team-member h3 {
    font-size: 2vw;
  }
  .team-member h4 {
    font-size: 2vw;
  }
  .edu-news h1 {
    font-size: 4.2vw;
  }
  .edu-story {
    width: 95%;
  }
  .edu-story2 h4 {
    font-size: 1.5vw;
  }
  .edu-story2 p {
    font-size: 1.2vw;
    width: 80%;
  }
  #edu-by2 {
    margin-top: 5vh;
  }
  .edu-story2 button {
    font-size: 1.2vw;
  }

  .about-us .qry-heading {
    color: #0065ff;
    font-size: 4.2vw;
  }
  .about-us .qry-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-us .contact {
    width: 70%;
    margin-top: 5vw;
  }

  .about-us .qry-heading {
    color: #0065ff;
  }
  .about-us .qry-img {
    height: auto;
    width: 70%;
  }
  .about-us .qry-img img {
    height: 100%;
  }
  .about-us .qry-data {
    font-size: 1.5vw;
    margin-top: 2.5vw;
    height: 3vw;
    padding-left: 2vw;
  }
  .about-us .qry-role select {
    font-size: 1.5vw;
  }
  .about-us .qry-contact {
    width: 55%;
    padding-left: 5%;
  }
  .about-us .qry-contact div {
    font-size: 1.5vw;
  }
  .about-us .qry-contact input {
    font-size: 1.5vw;
    width: 100%;
  }
  .about-us .qry-role {
    margin-top: 2.5vw;
    height: 3.2vw;
    width: 100%;
  }
  .about-us .qry-submit {
    margin-top: 2.5vw;
    height: 3.3vw;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1201px) {
  .intro-div h1 {
    font-size: 4.2vw;
  }
  .about-edu h1 {
    font-size: 4.2vw;
  }
  .about-edu-written p {
    font-size: 1.2vw;
  }
  .about-edu-illust h4 {
    font-size: 2.2vw;
  }
  .our-mission {
    width: 75%;
  }
  .our-mission h1 {
    font-size: 4.2vw;
  }
  .our-mission-illust {
    font-size: 1.5vw;
  }
  .our-mission-para {
    font-size: 1.2vw;
  }
  .our-mission-imgs img {
    height: 9vw;
    width: 9vw;
  }

  .our-mission-imgs div {
    font-size: 2vw;
  }
  .student-get h1 {
    font-size: 4.2vw;
  }

  .student-get p {
    width: 70%;
    font-size: 1.6vw;
  }

  .student-get-block {
    width: 70%;
  }
  .student-get-content {
    width: 45%;
    text-align: center;
  }
  .student-get-content img {
    height: 16vh;
  }

  .student-get-content h4 {
    font-size: 1.8vw;
  }

  .student-get-content p {
    font-size: 1.4vw;
  }
  .rec_dvlpmnts {
    height: 80vh;
    margin: 10vw 0;
  }

  .rec_dvlpmnts h1 {
    font-size: 4.2vw;
  }

  .rd_contain {
    width: 70%;
    height: 32vw;
    margin: 5vw auto;
  }
  .rd_hdline {
    font-size: 3.2vw;
  }

  .rd_aftrtexthead {
    font-size: 2.2vw;
  }

  .rd_cbtn {
    height: 5vh;
    font-size: 1.4vw;
  }
  .rd_aftrtext p {
    font-size: 1.2vw;
  }

  .our-team h1 {
    font-size: 4.3w;
  }
  .member-img {
    width: 15vw;
    height: 15vw;
  }
  .team-member h3 {
    font-size: 2vw;
  }
  .team-member h4 {
    font-size: 2vw;
  }
  .edu-news h1 {
    font-size: 4.2vw;
  }
  .edu-story2 h4 {
    font-size: 1.5vw;
  }
  .edu-story2 p {
    font-size: 1.2vw;
    width: 80%;
  }
  #edu-by2 {
    margin-top: 5vh;
  }

  .about-us .qry-heading {
    color: #0065ff;
    font-size: 4.2vw;
  }

  .about-us .contact {
    width: 45%;
  }

  .about-us .qry-heading {
    color: #0065ff;
  }
  .about-us .qry-img {
    height: auto;
  }
  .about-us .qry-img img {
    height: 100%;
  }
  .about-us .qry-data {
    font-size: 1.5vw;
    margin-top: 3vh;
    height: 3vw;
  }
  .about-us .qry-role select {
    font-size: 1.2vw;
  }
  .about-us .qry-contact {
    width: 55%;
    padding-left: 5%;
  }
  .about-us .qry-contact input {
    font-size: 1.5vw;
    width: 100%;
  }
  .about-us .qry-role {
    margin-top: 2vw;
    height: 3vw;
    width: 100%;
  }
  .about-us .qry-submit {
    margin-top: 2vw;
    height: 3.1vw;
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 913px) {
  .intro-div h1 {
    font-size: 3.8vw;
  }
  .about-edu h1 {
    font-size: 4.2vw;
  }
  .about-edu-written p {
    font-size: 1.2vw;
  }
  .about-edu-illust h4 {
    font-size: 2.2vw;
  }
  .our-mission {
    width: 75%;
  }
  .our-mission h1 {
    font-size: 4.2vw;
  }
  .our-mission-illust {
    font-size: 1.5vw;
  }
  .our-mission-para {
    font-size: 1.2vw;
  }
  .our-mission-imgs img {
    height: 9vw;
    width: 9vw;
  }

  .our-mission-imgs div {
    font-size: 2vw;
  }
  .student-get h1 {
    font-size: 4.2vw;
  }

  .student-get p {
    width: 70%;
    font-size: 1.6vw;
  }

  .student-get-block {
    width: 70%;
  }
  .student-get-content {
    width: 45%;
    text-align: center;
  }
  .student-get-content img {
    height: 16vh;
  }

  .student-get-content h4 {
    font-size: 1.8vw;
  }

  .student-get-content p {
    font-size: 1.4vw;
  }

  .rec_dvlpmnts {
    height: 70vh;
    margin: 10vw 0;
  }

  .rec_dvlpmnts h1 {
    font-size: 4.2vw;
  }

  .rd_contain {
    width: 70%;
    height: 36vw;
    margin: 5vw auto;
  }
  .rd_hdline {
    font-size: 3.2vw;
  }

  .rd_aftrtexthead {
    font-size: 2.3vw;
  }

  .rd_cbtn {
    height: 5vh;
    font-size: 1.4vw;
  }
  .rd_aftrtext p {
    font-size: 1.3vw;
  }
  .our-team h1 {
    font-size: 4.3w;
  }
  .member-img {
    width: 15vw;
    height: 15vw;
  }
  .team-member h3 {
    font-size: 2vw;
  }
  .team-member h4 {
    font-size: 2vw;
  }
  .edu-news h1 {
    font-size: 4.2vw;
  }
  .edu-story2 h4 {
    font-size: 1.5vw;
  }
  .edu-story2 p {
    font-size: 1.2vw;
    width: 80%;
  }
  #edu-by2 {
    margin-top: 5vh;
  }

  .about-us .qry-heading {
    color: #0065ff;
    font-size: 4.2vw;
  }

  .about-us .contact {
    width: 45%;
  }

  .about-us .qry-heading {
    color: #0065ff;
  }
  .about-us .qry-img {
    height: auto;
  }
  .about-us .qry-img img {
    height: 100%;
    position: relative;
  }
  .about-us .qry-data {
    font-size: 1.5vw;
    margin-top: 3vh;
    height: 3vw;
  }
  .about-us .qry-role select {
    font-size: 1.2vw;
  }
  .about-us .qry-contact {
    width: 55%;
    padding-left: 5%;
  }
  .about-us .qry-contact input {
    font-size: 1.5vw;
    width: 100%;
  }
  .about-us .qry-contact div {
    font-size: 1.5vw;
  }
  .about-us .qry-role {
    margin-top: 2vw;
    height: 3vw;
    width: 100%;
  }
  .about-us .qry-submit {
    margin-top: 2vw;
    height: 3.1vw;
    font-size: 1.5vw;
  }
}
